#today-block {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
	border: 1px solid red;
}

#today-date {
	display: block;
	position: relative;
	margin: 0 auto;
	font-size: 7em;
}

#tomorrow-block, #yesterday-block {
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid green;
}

#tomorrow-date, #yesterday-date {
	display: block;
	position: relative;
	margin: 0 auto;
	font-size: 5em;
}